### Exercício 1.4 – Introdução ao Pandas

#### Considere os dados dispostos na tabela 1, estruture-os em um objeto dataframe do Pandas e responda o que se pede abaixo.
* Tabela 1: Indicadores socioeconômicos do Brasil entre 2000 e 2022
Ano Taxa de Mortalidade Infantil
(óbitos por mil nascidos vivos)
- SIM/DATASUS
Taxa de Analfabetismo (população com 15 anos ou mais de
idade) - CD/IBGE
PIB per capita (em US$) -
WDI/World Bank
2000 29 13,6 3.726,8
2005 22,2 11,1 4.733,3
2010 17,2 9,6 11.249,3
2015 13,8 8 8.783,2
2020 11,56 6,6 6.923,7
2022 11,1 7 9.065,5
* (a) Inspecione o dataframe, verificando as informações gerais do dataframe (colunas, tipagem, contagem de linhas não nulas). Caso haja, problema de tipagem faça a correção.

In [22]:
# importando 
from pandas import DataFrame, Series
from pandas import read_csv

In [1]:
from pandas import read_csv

#### 2° Considere os dados das Finanças Municipais (Finbra) finbra_pb_2015.csv e responda as questões a seguir.

In [25]:
from pandas import read_csv

file = ('https://gitlab.com/lemaufpb/dspy/-/raw/main/data/finbra_pb_2015.csv') 

finpb = read_csv(file, sep="/")
finpb.head()

                                     Exercício: 2015
0                                 Escopo: Municípios
1  Tabela: Despesas Por Função - Empenhadas (Anex...
2      Instituição;Cod.IBGE;UF;População;Conta;Valor
3                        V1;"V2";"V3";"V4";"V5";"V6"
4  Prefeitura Municipal de Parari - PB;2510659;"P...

* A - Inspecione as informações gerais do dataframe, conferindo se as tipagens das colunas estão conforme o esperado.

In [26]:
finpb.info() 
finpb.describe
# não está , pois as informações que deveriam estar salvas em colunas estão em linhas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Exercício: 2015  7468 non-null   object
dtypes: object(1)
memory usage: 58.5+ KB

<bound method NDFrame.describe of                                         Exercício: 2015
0                                    Escopo: Municípios
1     Tabela: Despesas Por Função - Empenhadas (Anex...
2         Instituição;Cod.IBGE;UF;População;Conta;Valor
3                           V1;"V2";"V3";"V4";"V5";"V6"
4     Prefeitura Municipal de Parari - PB;2510659;"P...
...                                                 ...
7463  Prefeitura Municipal de Itabaiana - PB;2506905...
7464  Prefeitura Municipal de Itabaiana - PB;2506905...
7465  Prefeitura Municipal de Itabaiana - PB;2506905...
7466  Prefeitura Municipal de Itabaiana - PB;2506905...
7467  Prefeitura Municipal de Itabaiana - PB;2506905...

[7468 rows x 1 columns]>

In [36]:
df = ( 
      finpb.filter(items=['Instituição', 
                          'Cod.IBGE',
                          'UF',
                          'Populção',
                          'Conta', 
                          'Valor'])
      
      )
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[7468 rows x 0 columns]

* B Filtre dados para os municípios do Estado da Paraíba. Confira se o filtro funcionou corretamente.

#### Considere os dados do Índice de Desenvolvimento da Educação Básica (Ideb) para os anos iniciais do fundamental ideb5_2015.xlsx e responda as questões a seguir.

In [38]:
from pandas import read_excel

file ='https://gitlab.com/lemaufpb/dspy/-/raw/main/data/ideb5_2015.xlsx'

ideb= read_excel(file)
ideb.head

<bound method NDFrame.head of              Ensino fundamental regular - anos iniciais           Unnamed: 1  \
0     Taxa de Aprovação, Prova Brasil, IDEB e Projeç...                  NaN
1                   2005, 2007, 2009, 2011, 2013 e 2015                  NaN
2                                                   NaN                  NaN
3                                           Sigla da UF  Código do Município
4                                                   NaN                  NaN
...                                                 ...                  ...
1502                                                 PB              2517209
1503                                                 PB              2517407
1504                                                NaN                  NaN
1505                                    Fonte: MEC/Inep                  NaN
1506  Notas: ND - Número de participantes na Prova B...                  NaN

             Unnamed: 2        Unnamed: 3                    Unnamed: 4  \
0                   NaN               NaN                           NaN
1                   NaN               NaN                           NaN
2                   NaN               NaN                           NaN
3     Nome do Município  Código da Escola                Nome da Escola
4                   NaN               NaN                           NaN
...                 ...               ...                           ...
1502        Vieirópolis          25019791   EMEF NOEL ALVES DE OLIVEIRA
1503             Zabelê          25048767  EMEIF MARIA BEZERRA DA SILVA
1504                NaN               NaN                           NaN
1505                NaN               NaN                           NaN
1506                NaN               NaN                           NaN

     Unnamed: 5                Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0           NaN                       NaN        NaN        NaN        NaN
1           NaN                       NaN        NaN        NaN        NaN
2           NaN                       NaN        NaN        NaN        NaN
3          Rede  Taxa de Aprovação - 2005        NaN        NaN        NaN
4           NaN                       NaN        NaN        NaN        NaN
...         ...                       ...        ...        ...        ...
1502  Municipal                         -          -          -          -
1503  Municipal                      85.1          -       88.4         90
1504        NaN                       NaN        NaN        NaN        NaN
1505        NaN                       NaN        NaN        NaN        NaN
1506        NaN                       NaN        NaN        NaN        NaN

      ...          Unnamed: 70          Unnamed: 71 Unnamed: 72 Unnamed: 73  \
0     ...                  NaN                  NaN         NaN         NaN
1     ...                  NaN                  NaN         NaN         NaN
2     ...                  NaN                  NaN         NaN         NaN
3     ...  IDEB\n2013\n(N x P)  IDEB\n2015\n(N x P)   Projeções         NaN
4     ...                  NaN                  NaN         NaN         NaN
...   ...                  ...                  ...         ...         ...
1502  ...                    -                    4           -           -
1503  ...                    4                  4.6         3.3         3.6
1504  ...                  NaN                  NaN         NaN         NaN
1505  ...                  NaN                  NaN         NaN         NaN
1506  ...                  NaN                  NaN         NaN         NaN

     Unnamed: 74 Unnamed: 75 Unnamed: 76 Unnamed: 77 Unnamed: 78 Unnamed: 79
0            NaN         NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...         ...
1502           -           -           -         4.3         4.6         4.9
1503           4         4.3         4.6         4.9         5.2         5.5
1504         NaN         NaN         NaN         NaN         NaN         NaN
1505         NaN         NaN         NaN         NaN         NaN         NaN
1506         NaN         NaN         NaN         NaN         NaN         NaN

[1507 rows x 80 columns]>

In [39]:
ideb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1507 entries, 0 to 1506
Data columns (total 80 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Ensino fundamental regular - anos iniciais  1502 non-null   object
 1   Unnamed: 1                                  1498 non-null   object
 2   Unnamed: 2                                  1498 non-null   object
 3   Unnamed: 3                                  1498 non-null   object
 4   Unnamed: 4                                  1498 non-null   object
 5   Unnamed: 5                                  1498 non-null   object
 6   Unnamed: 6                                  1499 non-null   object
 7   Unnamed: 7                                  1498 non-null   object
 8   Unnamed: 8                                  1498 non-null   object
 9   Unnamed: 9                                  1498 non-null   object
 10  Unnamed: 10                                 1498 non-null   object
 11  Unnamed: 11                                 1498 non-null   object
 12  Unnamed: 12                                 1498 non-null   object
 13  Unnamed: 13                                 1499 non-null   object
 14  Unnamed: 14                                 1498 non-null   object
 15  Unnamed: 15                                 1498 non-null   object
 16  Unnamed: 16                                 1498 non-null   object
 17  Unnamed: 17                                 1498 non-null   object
 18  Unnamed: 18                                 1498 non-null   object
 19  Unnamed: 19                                 1498 non-null   object
 20  Unnamed: 20                                 1499 non-null   object
 21  Unnamed: 21                                 1498 non-null   object
 22  Unnamed: 22                                 1498 non-null   object
 23  Unnamed: 23                                 1498 non-null   object
 24  Unnamed: 24                                 1498 non-null   object
 25  Unnamed: 25                                 1498 non-null   object
 26  Unnamed: 26                                 1498 non-null   object
 27  Unnamed: 27                                 1499 non-null   object
 28  Unnamed: 28                                 1498 non-null   object
 29  Unnamed: 29                                 1498 non-null   object
 30  Unnamed: 30                                 1498 non-null   object
 31  Unnamed: 31                                 1498 non-null   object
 32  Unnamed: 32                                 1498 non-null   object
 33  Unnamed: 33                                 1498 non-null   object
 34  Unnamed: 34                                 1499 non-null   object
 35  Unnamed: 35                                 1498 non-null   object
 36  Unnamed: 36                                 1498 non-null   object
 37  Unnamed: 37                                 1498 non-null   object
 38  Unnamed: 38                                 1498 non-null   object
 39  Unnamed: 39                                 1498 non-null   object
 40  Unnamed: 40                                 1498 non-null   object
 41  Unnamed: 41                                 1499 non-null   object
 42  Unnamed: 42                                 1498 non-null   object
 43  Unnamed: 43                                 1498 non-null   object
 44  Unnamed: 44                                 1498 non-null   object
 45  Unnamed: 45                                 1498 non-null   object
 46  Unnamed: 46                                 1498 non-null   object
 47  Unnamed: 47                                 1498 non-null   object
 48  Unnamed: 48                                 1499 non-null   object
 49  Unnamed: 49                                 1498 non-null   object
 50  Unnamed: 50                                 1498 non-null   object
 51  Unnamed: 51                                 1499 non-null   object
 52  Unnamed: 52                                 1498 non-null   object
 53  Unnamed: 53                                 1498 non-null   object
 54  Unnamed: 54                                 1499 non-null   object
 55  Unnamed: 55                                 1498 non-null   object
 56  Unnamed: 56                                 1498 non-null   object
 57  Unnamed: 57                                 1499 non-null   object
 58  Unnamed: 58                                 1498 non-null   object
 59  Unnamed: 59                                 1498 non-null   object
 60  Unnamed: 60                                 1499 non-null   object
 61  Unnamed: 61                                 1498 non-null   object
 62  Unnamed: 62                                 1498 non-null   object
 63  Unnamed: 63                                 1499 non-null   object
 64  Unnamed: 64                                 1498 non-null   object
 65  Unnamed: 65                                 1498 non-null   object
 66  Unnamed: 66                                 1498 non-null   object
 67  Unnamed: 67                                 1498 non-null   object
 68  Unnamed: 68                                 1498 non-null   object
 69  Unnamed: 69                                 1498 non-null   object
 70  Unnamed: 70                                 1498 non-null   object
 71  Unnamed: 71                                 1498 non-null   object
 72  Unnamed: 72                                 1499 non-null   object
 73  Unnamed: 73                                 1498 non-null   object
 74  Unnamed: 74                                 1498 non-null   object
 75  Unnamed: 75                                 1498 non-null   object
 76  Unnamed: 76                                 1498 non-null   object
 77  Unnamed: 77                                 1498 non-null   object
 78  Unnamed: 78                                 1498 non-null   object
 79  Unnamed: 79                                 1498 non-null   object
dtypes: object(80)
memory usage: 942.0+ KB

In [40]:
ideb.describe()

,Ensino fundamental regular - anos iniciais,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79
count,1502,1498,1498,1498,1498,1498,1499,1498,1498,1498,...,1498,1498,1499,1498,1498,1498,1498.0,1498.0,1498.0,1498.0
unique,6,223,223,1498,1477,3,373,94,414,379,...,50,52,39,38,39,40,41.0,40.0,40.0,40.0
top,PB,2507507,João Pessoa,Código da Escola,EMEF SENADOR RUY CARNEIRO,Municipal,-,-,-,-,...,-,-,-,-,-,-,4.2,4.5,4.8,5.1
freq,1497,173,173,1,3,1058,743,1355,768,762,...,527,580,743,399,196,118,110.0,110.0,112.0,115.0